<!DOCTYPE html>
<html>
<head>
  <title>Add New Car</title>
</head>
<body>
  <h1>Add New Car</h1>
  <form action="/cars" method="POST">
    <label>Make:</label>
    <input type="text" name="make" required><br>
    <label>Model:</label>
    <input type="text" name="model" required><br>
    <label>Year:</label>
    <input type="number" name="year" required><br>
    <label>Registration Number:</label>
    <input type="text" name="registrationNumber" required><br>
    <label>Rent Rate:</label>
    <input type="number" name="rentRate" required><br>
    <button type="submit">Add Car</button>
  </form>
  <a href="/cars">Back to Car List</a>
</body>
</html>
